@mixin font__poppins($font-weight: 600, $color: #000000 ) {
  font-family: 'Poppins', sans-serif;
  font-weight: $font-weight;
  color: $color;
}

.title__primary {
  font-size: clamp(1.5rem, 5vw, 2rem);
  
  @include font__poppins(600, var(--color-blue-primary));
}

.title__secondary {
  font-size: clamp(.8rem, 5vw, 1.2rem);

  @include font__poppins(500, var(--color-blue-primary))
}

.font__regular {
  font-size: clamp(.6rem, 5vw, 1rem);

  @include font__poppins(400, var(--color-white))
}

.label {
  font-size: clamp(.7rem, 5vw, 1rem);

  @include font__poppins(400, var(--color-blue-primary))
}

.font__small--inter {
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;

  color: var(--color-white);
}