.main {
  height: 100vh;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4rem;
    
    height: 100%;

    & > img {
      display: none;

      height: clamp(350px, 40vw, 505px);
      width: clamp(350px, 40vw, 505px);

      filter: drop-shadow(-3px 2px 0px var(--color-blue-primary));
      z-index: -1;
    }

    @media (width >= 920px) {
      & > img {
        display: flex;
      }
    }
  }
}