.main {
  height: 100vh;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    gap: 4rem;

    & > img {
      display: none;

      height: clamp(350px, 35vw, 505px);
      width: clamp(350px, 35vw, 505px);

      filter: drop-shadow(10px 10px 120px var(--color-blue-primary));
      z-index: -1;
    }

    @media (width >= 920px) {
      & > img {
        display: flex;
      }
    }
  }
}