.main {
  height: 100vh;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    gap: 4rem;

    & > img {
      display: none;

      max-height: clamp(500px, 50vw, 550px);
      max-width: 566px;
    }

    @media (width >= 920px) {
      & > img {
        display: flex;
      }
    }
  }
}